<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{name}}</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen" />
  </head>
  <body>
	<div class="container-fluid">
	  <div class="row-fluid">
		<div class="span10">

		  <h1>{{name}}</h1>
		  \{\{\{dev-tag\}\}\}
		</div>
	  </div>
	</div>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js">  </script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/\{\{\{main-js-file\}\}\}"></script>
  </body>
</html>
